[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third-party/webgpu"]
	path = third-party/webgpu
	url = https://github.com/diejor/WebGPU-distribution.git
[submodule "third-party/glfw3webgpu"]
	path = third-party/glfw3webgpu
	url = https://github.com/eliemichel/glfw3webgpu.git
