[submodule "vendor/glfw3webgpu"]
	path = vendor/glfw3webgpu
	url = https://github.com/diejor/glfw3webgpu.git
[submodule "vendor/webgpu"]
	path = vendor/webgpu
	url = https://github.com/diejor/WebGPU-distribution.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
